QLabel {
    font-size:12pt;
    margin: 0px 0px 0px 0;
    border: 1px;
    border-radius: 2px;
}

QLineEdit {
    font-size: 12pt;
    background: rgb(225, 225, 225);
}

QTextEdit {
    font-size: 12pt;
}

QPushButton {
    font-size:15pt;
}
