<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<connectionStrings>
		<add name="SystemContext" connectionString="metadata=res://*/SystemModel.csdl|res://*/SystemModel.ssdl|res://*/SystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=182.131.2.216,1335;initial catalog=GasMonitor;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.web>
		<authentication mode="Forms">
			<forms loginUrl="/Login.aspx" cookieless="UseCookies" timeout="60" name=".rtmcAuth" path="/" defaultUrl="/Index.aspx" slidingExpiration="true"></forms>
		</authentication>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<clear />
				<add name="X-UA-Compatible" value="IE=edge,chrome=1" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
